body {
  background-color: #000;
}

.mychoise-element {
  border-radius: 20px;
  height: 20vh;
  padding: 2px 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  color: #fff;
  font-size: 13px;
  position: relative;
}

.mychoise-element .layer {
  background-color: rgba(0, 0, 0, 0.288);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.mychoise-element .layer .inner-container .menu {
  text-align: right;
  font-weight: bold;
}

.mychoise-element .layer .inner-container .time-date div:nth-child(1) {
  margin-left: 20px;
}

.mychoise-element .layer .inner-container .time-date div:nth-child(2) {
  text-align: right;
}

.card {
  background-color: transparent;
  color: #fff;
  padding: 0 0 1rem 0;
  min-height: 55vh;
}

.card .up-arrow-container {
  text-align: center;
  margin-top: 10vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .up-arrow-container .up-arrow-btn {
  background-color: transparent;
  border: none;
}

.card .up-arrow-container .up-arrow-btn img {
  width: 35px;
}

.items-container {
  position: relative;
  padding-bottom: 2vh;
}

.items-container .items-container-row div:nth-child(1) {
  z-index: 2;
}

.items-container .items-container-row div:nth-child(1) button {
  background-color: transparent;
  border: none;
}

.items-container .items-container-row div:nth-child(1) button img {
  width: 17px;
}

.items-container .items-container-row div:nth-child(2) {
  font-size: 12px;
  text-align: center;
}

.items-container .items-container-row div:nth-child(2) span {
  display: inline-block;
  margin-top: 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

.items-container .items-container-row div:nth-child(3) {
  z-index: 2;
}

.items-container .items-container-row div:nth-child(3) span {
  cursor: pointer;
  display: inline-block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.items-container .items {
  position: relative;
}

.items-container .items .items-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

.items-container .items .items-row .col {
  z-index: 2;
}

.items-container .items .items-row .col div {
  text-align: right;
}

.items-container .items .items-row .col div .delete-btn {
  -webkit-transform: scale(0.5) translate(15px, 20px);
          transform: scale(0.5) translate(15px, 20px);
  background-color: transparent;
  border: none;
  visibility: hidden;
}

.items-container .items .items-row .col div .delete-btn.show-x {
  -webkit-animation: showx 0.3s forwards;
          animation: showx 0.3s forwards;
}

.items-container .items .items-row .col div .delete-btn img {
  width: 25px;
}

.items-container .items .items-row .col div img {
  width: 100%;
  border-radius: 50%;
}

.items-container .edit-view {
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.178);
  height: 0%;
  width: 100%;
  z-index: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.items-container .edit-view.height {
  height: 100%;
}

.items-container .edit-view span {
  font-size: 12px;
  background-color: #5a5a5a;
  padding: 0px 5px;
  border-radius: 5px;
}

.move-top {
  -webkit-animation: movetop 0.3s ease;
          animation: movetop 0.3s ease;
}

.move-down {
  -webkit-animation: movedown 0.3s ease;
          animation: movedown 0.3s ease;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .inner-footer {
  text-align: center;
  margin: 0 5%;
  background-color: rgba(0, 0, 0, 0.678);
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.678);
          box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.678);
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.712));
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.712));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .inner-footer .dot {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #fff;
  display: inline-block;
  -webkit-box-shadow: 0 0 1px 1px #aaaaaa;
          box-shadow: 0 0 1px 1px #aaaaaa;
}

footer .inner-footer .dot-small {
  background-color: #000;
  border-color: #000;
  -webkit-box-shadow: 0 0 1px 1px black;
          box-shadow: 0 0 1px 1px black;
  width: 8px;
  height: 8px;
}

@-webkit-keyframes movetop {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-15vh) scale(0);
            transform: translateY(-15vh) scale(0);
    opacity: 0;
  }
}

@keyframes movetop {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-15vh) scale(0);
            transform: translateY(-15vh) scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(-15vh) scale(0);
            transform: translateY(-15vh) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    -webkit-transform: translateY(-15vh) scale(0);
            transform: translateY(-15vh) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes showx {
  0% {
    visibility: visible;
    -webkit-transform: scale(0.5) translate(15px, 20vh);
            transform: scale(0.5) translate(15px, 20vh);
  }
  100% {
    visibility: visible;
    -webkit-transform: scale(0.5) translate(15px, 20px);
            transform: scale(0.5) translate(15px, 20px);
  }
}

@keyframes showx {
  0% {
    visibility: visible;
    -webkit-transform: scale(0.5) translate(15px, 20vh);
            transform: scale(0.5) translate(15px, 20vh);
  }
  100% {
    visibility: visible;
    -webkit-transform: scale(0.5) translate(15px, 20px);
            transform: scale(0.5) translate(15px, 20px);
  }
}
/*# sourceMappingURL=main.css.map */