@import './colors';

body{
    background-color: #000;
}

.mychoise-element{
    border-radius: 20px;
    height: 20vh;
    padding: 2px 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    color: #fff;
    font-size: 13px;
    position: relative;
    .layer{
        background-color: rgba(0, 0, 0, 0.288);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 20px;
        .inner-container{
            .menu{
                text-align: right;
                font-weight: bold;
            }
            .time-date{
                div:nth-child(1){
                    margin-left: 20px;
                } 
                div:nth-child(2){
                    text-align: right;
                } 
           }
        }
       
    }      
}

.card{
   background-color: transparent;
    color:#fff; 
    padding: 0 0 1rem 0;
    min-height: 55vh;
    // position: relative;
        .up-arrow-container{
            text-align: center;
          //  position: sticky;
          margin-top:10vh;
            width: 100%;
            // bottom: 1px;
            // left: 0;
            box-sizing: border-box;
            
            .up-arrow-btn{
                background-color: transparent;
                border:none;
                img{
                    width: 35px;
                }
            }
      }
}


.items-container{
    position: relative;
    padding-bottom: 2vh;
    // background-color: #fff;
    .items-container-row{
        div:nth-child(1){
            z-index: 2;
            button{
                background-color: transparent;
                border: none;
                img{
                width: 17px;
                } 
            }  
        }
        div:nth-child(2){
            font-size: 12px;
            text-align: center;
            span{
                display: inline-block;
                margin-top: 5px;
                padding: 0px 5px;
                border-radius: 5px;  
            }    
        }
        div:nth-child(3){
            z-index: 2;
            span{
                cursor: pointer;
                display: inline-block;
                transform: translateY(-5px);
                
            }
        }
    }
    .items{
        position: relative;
        .items-row{
           display: grid;
           grid-template-columns: repeat(3, minmax(0, 1fr));
           .col{
            z-index: 2;
            div{
                text-align: right;
                .delete-btn{
                    transform: scale(0.5) translate(15px, 20px);
                    background-color:transparent;
                    border: none;
                    visibility: hidden;
                    &.show-x{
                        animation: showx 0.3s forwards;
                    }
                    img{
                        width: 25px;;
                    }
                    }
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }  
        }
    }
    .edit-view{
        bottom:0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.178);
        height: 0%;
        width: 100%;
        z-index: 0;
        transition: 0.3s;
        text-align: center;
        &.height{
            height: 100%;
        }
        span{
            font-size: 12px;
            background-color: rgb(90, 90, 90); 
            padding: 0px 5px;
            border-radius: 5px; 
            
        }
    }
    
}

.move-top{
  //  transform: translateX(40vh);
    animation: movetop 0.3s ease;
}

.move-down{
    //  transform: translateX(40vh);
      animation: movedown 0.3s ease;
  }

  footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 7%;
    align-items: center;
    display: grid;
    align-content:center ;
    
   
    .inner-footer{
        text-align: center;
        margin: 0 5%;
        background-color: $trans-black;
        box-shadow: 0 0 20px 20px $trans-black;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.712));
        display: flex;
        justify-content: space-around;
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 50px;
            background-color: #fff;
            display: inline-block;
            box-shadow: 0 0 1px 1px rgb(170, 170, 170);
            
           } 
           .dot-small{
               background-color: #000;
               border-color: #000;
               box-shadow: 0 0 1px 1px rgb(0, 0, 0);
               width: 8px;
               height: 8px;
           }
        }
    }

@keyframes movetop {
    0%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateY(-15vh) scale(0);
        opacity: 0;
    }
}

@keyframes movedown {
    0%{
        transform: translateY(-15vh) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 764px) {
    // .choice-max-height{
    //     max-height: 150px;
    //     max-width: 150px;
    // }
}

@keyframes showx{
    0%{ 
        visibility: visible;
        transform: scale(0.5) translate(15px, 20vh);
    }
    100%{
        visibility: visible;
        transform: scale(0.5) translate(15px, 20px);
    }

}



//-------------------------------------------------------------------------------------------------------------------

